.maintenance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.maintenance-content {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.maintenance-content h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

.maintenance-content p {
  font-size: 18px;
  color: #666;
}

