.grade-book-page {
    padding: 20px;
  }
  
  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .report-button {
    padding: 5px;
    color: #3b82f6;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 50px;
  }

  .report-button:hover {
    text-decoration: underline;
  }
  
  .selection-section {
    margin-bottom: 20px;
  }
  
  .students-section {
    margin-top: 20px;
  }
  
  .student-details {
    margin-bottom: 20px;
  }
  
  .grades-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .grades-table th, .grades-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .edit-button {
    background-color: #f0ad4e;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  